<app-navbar></app-navbar>
<div class="conatinar">
  <div class="row">
    <div class="col-50">
      <div class="collect-cap">
        <p>We make it Super<br>Simple</p>
        <hr>
      </div>
      <img class="collect-img" src="../assets/collect_img-video.png" />
    </div>
    <div class="col-50">
      <app-calculator></app-calculator>
    </div>
  </div>
    <div class="row v-center">
      <div class="col-50 row v-center">
          <div class="col-50">
            <div *ngFor = "let card of cards">
              <app-card
              [image] = card.image
              [title]=card.title
              [contain] = card.contain></app-card>
            </div>
          </div>
          <div class="col-50">
            <div>
              <div *ngFor = "let card of loanCards">
                <app-card
                [image] = card.image
                [title]=card.title
                [contain] = card.contain></app-card>
              </div>
            </div>
          </div>
      </div>
      <div class="col-50">
        <div class="collect-cap">
          <p>Boost your business<br>with open</p>
          <hr>
          <p class="collect-cap-contain">Get your hands on terms loan that's<br>crafted for your business</p>
          <button class="btn">Get an Open Account</button>
        </div>
      </div>
    </div>
</div>